.idea

DataLab/datalab-handout/btest
DataLab/datalab-handout/fshow
DataLab/datalab-handout/ishow

ArchitectureLab/archlab-handout/sim/pipe/ldriver.yo
ArchitectureLab/archlab-handout/sim/pipe/ldriver.ys
ArchitectureLab/archlab-handout/sim/pipe/sdriver.yo
ArchitectureLab/archlab-handout/sim/pipe/sdriver.ys
ArchitectureLab/archlab-handout/sim/misc/hcl.tab.c
ArchitectureLab/archlab-handout/sim/misc/hcl.tab.h
ArchitectureLab/archlab-handout/sim/misc/hcl2c
ArchitectureLab/archlab-handout/sim/misc/isa.o
ArchitectureLab/archlab-handout/sim/misc/lex.yy.c
ArchitectureLab/archlab-handout/sim/misc/yas
ArchitectureLab/archlab-handout/sim/misc/yas-grammar.c
ArchitectureLab/archlab-handout/sim/misc/yas-grammar.o
ArchitectureLab/archlab-handout/sim/misc/yas.o
ArchitectureLab/archlab-handout/sim/misc/yis
ArchitectureLab/archlab-handout/sim/misc/yis.o
ArchitectureLab/archlab-handout/sim/y86-code/*.yo
ArchitectureLab/archlab-handout/sim/misc/*.yo
ArchitectureLab/archlab-handout/sim/seq/ssim
ArchitectureLab/archlab-handout/sim/seq/seq-std.c
ArchitectureLab/archlab-handout/sim/seq/seq-full.c
ArchitectureLab/archlab-handout/sim/pipe/psim
ArchitectureLab/archlab-handout/sim/pipe/pipe-std.c

CacheLab/cachelab-handout/
CacheLab/cachelab-handout/.csim_results
CacheLab/cachelab-handout/csim
CacheLab/cachelab-handout/poilk-handin.tar
CacheLab/cachelab-handout/test-trans
CacheLab/cachelab-handout/tracegen
CacheLab/cachelab-handout/trans.o

ShellLab/shlab-handout/myint
ShellLab/shlab-handout/myspin
ShellLab/shlab-handout/mysplit
ShellLab/shlab-handout/mystop
ShellLab/shlab-handout/tsh

MallocLab/malloclab-handout/*.o
MallocLab/malloclab-handout/mdriver

.vscode
cmake-build-*
build